//! **************************************************************************
// Written by: Map K.39 on Fri Apr 29 16:44:42 2022
//! **************************************************************************

SCHEMATIC START;
COMP "CE" LOCATE = SITE "P113" LEVEL 1;
COMP "BUT" LOCATE = SITE "P22" LEVEL 1;
COMP "MODE" LOCATE = SITE "P140" LEVEL 1;
COMP "LED0" LOCATE = SITE "P85" LEVEL 1;
COMP "LED1" LOCATE = SITE "P84" LEVEL 1;
COMP "LED2" LOCATE = SITE "P83" LEVEL 1;
COMP "LED3" LOCATE = SITE "P80" LEVEL 1;
COMP "LED4" LOCATE = SITE "P79" LEVEL 1;
COMP "LED5" LOCATE = SITE "P77" LEVEL 1;
COMP "LED6" LOCATE = SITE "P76" LEVEL 1;
COMP "LED7" LOCATE = SITE "P75" LEVEL 1;
COMP "D0" LOCATE = SITE "P59" LEVEL 1;
COMP "D1" LOCATE = SITE "P60" LEVEL 1;
COMP "D2" LOCATE = SITE "P62" LEVEL 1;
COMP "D3" LOCATE = SITE "P63" LEVEL 1;
COMP "D4" LOCATE = SITE "P65" LEVEL 1;
COMP "D5" LOCATE = SITE "P66" LEVEL 1;
COMP "D6" LOCATE = SITE "P67" LEVEL 1;
COMP "D7" LOCATE = SITE "P74" LEVEL 1;
COMP "CLK" LOCATE = SITE "P18" LEVEL 1;
COMP "CLR" LOCATE = SITE "P141" LEVEL 1;
SCHEMATIC END;

